.typing-indicator-container {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: var(--text-color);
    opacity: 0.7;
    margin-bottom: 4px;
    padding: 2px;
    height: 12px;
    width: fit-content;
}

.typing-text {
    font-weight: 500;
}