.loader-container {
    width: 100%;
    height: 2px;
    background-color: var(--vscode-progressBar-background, #007acc);
    opacity: 0.2;
    overflow: hidden;
    position: relative;
}

.loader-bar {
    width: 100%;
    height: 100%;
    background-color: var(--vscode-progressBar-background, #007acc);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    animation: indeterminate 1.5s infinite linear;
    transform-origin: 0% 50%;
}

@keyframes indeterminate {
    0% {
        transform: translateX(0) scaleX(0);
    }
    40% {
        transform: translateX(0) scaleX(0.4);
    }
    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}
